# Tutorial
# http://www.raywenderlich.com/109330/carthage-tutorial-getting-started
# https://www.chrisjmendez.com/2016/10/30/carthage-cheat-sheet/

# Edit File        : open -a Xcode Cartfile
# Update (iPhone)  : carthage update --platform iOS
# Update (RJPSLib) : carthage update RJSLibUF --platform iOS --no-use-binaries
# Open compiled    : open Carthage

# brew update
# brew install carthage
# brew upgrade carthage

####################################################################
# Clear
# rm carthage.xcconfig
# rm -rf ~/Library/Caches/org.carthage.CarthageKit
#

###
### MORE LIBRARIES HERE :
###  https://github.com/Wolg/awesome-swift
###  https://github.com/vsouza/awesome-ios
###  https://github.com/duemunk/awesome-swiftui

####################################################################
# Reactive Programming in Swift
# https://github.com/ReactiveX/RxSwift
github "ReactiveX/RxSwift" == 5.1.1
github "RxSwiftCommunity/RxGesture" 
github "RxSwiftCommunity/RxDataSources" 

####################################################################
# https://github.com/fpillet/NSLogger
# A modern, flexible logging tool
#github "fpillet/NSLogger"


####################################################################
####################################################################
####################################################################

# General / Frameworks and Libraries / Add...

# Then add on build phases run script

# $(SRCROOT)/Carthage/Build/iOS/Swinject.framework
# $(SR