# Tutorial
# http://www.raywenderlich.com/109330/carthage-tutorial-getting-started

# Edit File        : open -a Xcode Cartfile
# Update (iPhone)  : carthage update --platform iOS
# Update (RJPSLib) : carthage update RJPSLib
# Open compiled    : open Carthage

# brew update
# brew install carthage
# brew upgrade carthage

####################################################################
# A beautiful and flexible text field control implementation of "Float Label Pattern". Written in Swift.
# https://github.com/Skyscanner/SkyFloatingLabelTextField
github "Skyscanner/SkyFloatingLabelTextField"

####################################################################
# Elegant HTTP Networking in Swift
# https://github.com/Alamofire/Alamofire

#github "Alamofire/Alamofire"

####################################################################
# Reactive Programming in Swift
# https://github.com/ReactiveX/RxSwift

github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxGesture"
github "RxSwiftCommunity/RxDataSources" ~> 4.0

####################################################################
# Nothing but sugar.
# https://github.com/roberthein/TinyConstraints

github "roberthein/TinyConstraints"

####################################################################
# A Swift extension that adds toast notifications to the UIView object class.
# https://github.com/scalessec/Toast-Swift

github "scalessec/Toast-Swift" ~> 5.0.1

####################################################################

# Dependency injection framework for Swift with iOS/macOS/Linux
# https://github.com/Swinject/Swinject

github "Swinject/Swinject"
github "Swinject/SwinjectAutoregistration"
#github "Swinject/SwinjectStoryboard"

####################################################################
# https://github.com/ricardopsantos/RJPSLib
# Guys love tools, this is my Swift toolbox

#github "ricardopsantos/RJPSLib" "1.1"
github "ricardopsantos/RJPSLib" "master"

####################################################################

# Realm is a mobile database: a replacement for Core Data & SQLite https://realm.io
# https://realm.io/docs/swift/latest/

## Swift 4.2.1
    #github "realm/realm-cocoa" "v3.13.0"

####################################################################
# A UI/UX framework for creating beautiful applications. http://cosmicmind.com
# https://github.com/CosmicMind/Material

github "CosmicMind/Material"

####################################################################
####################################################################
####################################################################

# General / Frameworks and Librarys / Add...

# Then add on build phases run script

# $(SRCROOT)/Carthage/Build/iOS/Swinject.framework
# $(SRCROOT)/Carthage/Build/iOS/SwinjectAutoregistration.framework
# $(SRCROOT)/Carthage/Build/iOS/RxCocoa.framework
# $(SRCROOT)/Carthage/Build/iOS/RxSwift.framework
# $(SRCROOT)/Carthage/Build/iOS/RJPSLib.framework
# $(SRCROOT)/Carthage/Build/iOS/RxRelay.framework
# $(SRCROOT)/Carthage/Build/iOS/RxGesture.framework
# $(SRCROOT)/Carthage/Build/iOS/TinyConstraints.framework
# $(SRCROOT)/Carthage/Build/iOS/ToastSwiftFramework.framework
# $(SRCROOT)/Carthage/Build/iOS/RxDataSources.framework
# $(SRCROOT)/Carthage/Build/iOS/Differentiator.framework
# $(SRCROOT)/Carthage/Build/iOS/SkyFloatingLabelTextField.framework
