# Tutorial
# http://www.raywenderlich.com/109330/carthage-tutorial-getting-started

# Edit File       : open -a Xcode Cartfile
# Update (iPhone) : carthage update --platform iOS
# Open compiled   : open Carthage

# brew update
# brew install carthage
# brew upgrade carthage

####################################################################

# Elegant HTTP Networking in Swift
# https://github.com/Alamofire/Alamofire

## Swift 5.0.1
#github "Alamofire/Alamofire"

####################################################################
# Reactive Programming in Swift
# https://github.com/ReactiveX/RxSwift

github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxGesture"
github "RxSwiftCommunity/RxDataSources" ~> 4.0
binary "https://raw.githubusercontent.com/RxSwiftCommunity/RxKeyboard/master/RxKeyboard.json"

####################################################################
# Nothing but sugar.
# https://github.com/roberthein/TinyConstraints
github "roberthein/TinyConstraints"

####################################################################
# A Swift extension that adds toast notifications to the UIView object class.
# https://github.com/scalessec/Toast-Swift

github "scalessec/Toast-Swift" ~> 5.0.1

####################################################################

# A Swift Autolayout DSL for iOS & OS X http://snapkit.io
# https://github.com/SnapKit/SnapKit

## Swift 4.2.1
    #github "SnapKit/SnapKit" ~> 4.0.0

####################################################################

# Dependency injection framework for Swift with iOS/macOS/Linux
# https://github.com/Swinject/Swinject

github "Swinject/Swinject"
github "Swinject/SwinjectAutoregistration"
#github "Swinject/SwinjectStoryboard"

####################################################################

## Swift 4.2.1
    #github "ricardopsantos/RJPSLib" "v1.0.1"

## Swift 5.0.1
    #github "ricardopsantos/RJPSLib" "V1.0.4"
    github "ricardopsantos/RJPSLib" "master"

####################################################################

# Realm is a mobile database: a replacement for Core Data & SQLite https://realm.io
# https://realm.io/docs/swift/latest/

## Swift 4.2.1
    #github "realm/realm-cocoa" "v3.13.0"

## Swift 5.0.1
    #github "realm/realm-cocoa"

####################################################################
####################################################################
####################################################################

# Drag from "/Carthage/Build/iOS/Alamofire.framework" to "General/Linked Frameworks and Librarys"

# $(SRCROOT)/Carthage/Build/iOS/Alamofire.framework
# $(SRCROOT)/Carthage/Build/iOS/SwiftyJSON.framework
# $(SRCROOT)/Carthage/Build/iOS/Whisper.framework
# $(SRCROOT)/Carthage/Build/iOS/Eureka.framework
# $(SRCROOT)/Carthage/Build/iOS/CryptoSwift.framework

# *** Fetching Swinject
# *** Fetching RxGesture
# *** Fetching SwinjectStoryboard
# *** Fetching RxSwift
# *** Checking out SwinjectAutoregistration at "2.5.0"
# *** Checking out RxSwift at "4.4.0"
# *** Checking out SwinjectStoryboard at "2.2.0"
# *** Checking out RxGesture at "1.2.1"
# *** Checking out Swinject at "2.6.0"

